.loginPage {
    position: absolute;
    bottom: 65px;
}

.fakeLink {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}